<nav class="navbar">
    <h1>TaskWave</h1>

    <section class="navbar-menu">
        
        <div class="barra-de-pesquisa">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search tasks...">
        </div>

        <div class="filtro-categoria">
            <select id="categoria" name="categoria">
                <option value="all">All Categories</option>
            </select>
        </div>

        <a routerLink="/add-task" class="add-task-btn">
            <i class="fa-solid fa-plus"></i>
            <span>Add Task</span>
        </a>
    </section>
    
</nav>