<nav class="navbar">
    <h1>TaskWave</h1>

    <section class="navbar-menu">
        
        <div class="barra-de-pesquisa">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search tasks...">
        </div>

        <!-- dropdown menu de categorias -->
        <div class="filtro-categoria">
            <select id="categoria" name="categoria">
                <option value="all">All Categories</option>
            </select>
        </div>

        <!-- botao de adicionar tarefa -->
        <button class="add-task-btn">
            <i class="fa-solid fa-plus"></i>
            <span>Add Task</span>
        </button>
        <!-- APAGAR icone de usuario (talvez)-->
    </section>
    
</nav>