.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 15px 40px;
    box-sizing: border-box;

    background-color: rgba(27, 24, 44, 0.9); 
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--cor-borda);
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.barra-de-pesquisa, .filtro-categoria {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--cor-borda);
    border-radius: 20px;
    padding: 10px;
    background-color: var(--cor-fundo-card);
    color: var(--cor-texto-principal);
}

.barra-de-pesquisa input, .filtro-categoria select {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--cor-texto-principal);
}

.barra-de-pesquisa:hover, .filtro-categoria:hover {
    border-color: var(--cor-rosa);
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 0 5px var(--cor-rosa);
}
.barra-de-pesquisa:focus-within, .filtro-categoria:focus-within {
    border-color: var(--cor-rosa);
    box-shadow: 0 0 5px var(--cor-rosa);
}

.add-task-btn {
    display: flex;
    justify-content: center;
    background-color: var(--cor-azul-ceu);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    gap: 5px;
}

.add-task-btn span {
    color: var(--cor-fundo-pagina);
}
.add-task-btn:hover {
    background-color: var(--cor-rosa);
    transition: 0.3s;
    box-shadow: 0 0 5px var(--cor-rosa);
}

