<div class="card-neon">
  <div class="card-header">
    <span class="badge" [ngClass]="'cat-' + task.category.toLowerCase()">{{ task.category }}</span>
    <div class="card-header-buttons">
      <button class="edit-btn" [routerLink]="['/edit-task', task.id]">
        <i class="fas fa-edit"></i>
      </button>
      <button (click)="onDeleteTask(task)" class="delete-btn">
        <i class="fas fa-trash"></i>
      </button>
    </div>
  </div>

  <a [routerLink]="['/task-details', task.id]" class="task-title-link">
    <h3 class="task-title">{{ task.title }}</h3>
  </a>
  <p>{{ task.description }}</p>

  <div class="card-footer">
    <time>📅 {{ task.dueDate | date:'dd/MM/yyyy' }}</time>
    <span class="status-tag" [ngClass]="'status-' + task.status.toLowerCase().replace(' ', '-')">{{ task.status }}</span>
  </div>
</div>