.card-neon {
    background-color: var(--cor-fundo-card);
    border: 1px solid var(--cor-borda);
    border-radius: 12px;
    padding: 20px;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.card-neon:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(var(--cor-preto-rgb), 0.3);
    border-color: var(--cor-roxo-claro);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
}

.badge {
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
}

.cat-personal { color: var(--cor-cat-personal); background: rgba(var(--cor-cat-personal-rgb), 0.1); }
.cat-study { color: var(--cor-cat-study); background: rgba(var(--cor-cat-study-rgb), 0.1); }
.cat-work { color: var(--cor-cat-work); background: rgba(var(--cor-cat-work-rgb), 0.1); }
.cat-urgent { color: var(--cor-cat-urgent); background: rgba(var(--cor-cat-urgent-rgb), 0.1); }

p {
    font-size: 0.95rem;
    color: var(--cor-texto-sutil);
    line-height: 1.5;
    margin-bottom: 20px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--cor-borda);
    padding-top: 15px;
    font-size: 0.85rem;
}

time {
    color: var(--cor-roxo-claro);
}

.status-tag {
    font-weight: 600;
}

.status-to-do { color: var(--cor-status-todo); }
.status-doing { color: var(--cor-status-doing); }
.status-done { color: var(--cor-status-done); }

.card-header-buttons {
    display: flex;
    gap: 10px;
}

.card-header-buttons button {
    background-color: transparent;
    border: none;
    color: var(--cor-azul-ceu);
    cursor: pointer;
    font-size: 1.2rem;

}

.card-header-buttons button:hover {
    color: var(--cor-rosa);
    transform: translateY(-3px);
    transition: 0.3s;
}

.task-title-link {
  text-decoration: none; 
  color: inherit;        
  display: block;        
}

.task-title-link:hover .task-title {
  color: var(--cor-azul-ceu); 
  cursor: pointer;
}

.task-title, p {
    overflow-wrap: break-word;
    word-break: break-word;
}