<app-navbar (openTaskModal)="handleOpenModal()"></app-navbar>
<div class="layout-dashboard">
  <app-sidebar></app-sidebar>
  <main class="main-container">
    <div class="kpi-card-container">
      @for (kpi of kpiList; track kpi.title) {
        <app-kpi-card [kpi]="kpi"></app-kpi-card>
      }
    </div>
    <div class="kanban-board">
      <section class="kanban-column">
        <h2>To Do</h2>
        
        @for (task of tasks; track task.id) {
          
          @if (task.status === 'To Do') {
            <app-task-card [task]="task" (editTask)="handleEditTask($event)" (deleteTask)="handleDeleteTask($event)"></app-task-card>
          }
          
        }
      </section>

      <section class="kanban-column">
        <h2>In Progress</h2>
        
        @for (task of tasks; track task.id) {
          
          @if (task.status === 'Doing') {
            <app-task-card [task]="task" (editTask)="handleEditTask($event)" (deleteTask)="handleDeleteTask($event)"></app-task-card>
          }
          
        }
      </section>

      <section class="kanban-column">
        <h2>Done</h2>
        
        @for (task of tasks; track task.id) {
          
          @if (task.status === 'Done') {
            <app-task-card [task]="task" (editTask)="handleEditTask($event)" (deleteTask)="handleDeleteTask($event)"></app-task-card>
          }
          
        }
      </section>
    
    </div>
  </main>
</div>

@if (isModalOpen) {
  <app-add-task-modal (close)="closeModal()"></app-add-task-modal>
}