<div class="task-list-layout">
    <div class="filter-bar-container">
        <div class="filter-bar">
            <select id="filterDueDate"
                [value]="taskListFilterService.selectedFilter"
                (change)="onSortChange($event)">
                    <option value="creationDate">Creation Date</option>
                    <option value="dueDateAsc">Due date ascending</option>
            </select>
        </div>
    </div>

    <div class="kanban-board">
        <section class="kanban-column">
            <h2 class="todo-title">To Do</h2>
            @for (task of todoTasks; track task.id) {
                <app-task-card [task]="task" (deleteTask)="handleDeleteTask($event)"></app-task-card>
            }
        </section>
        <section class="kanban-column">
            <h2 class="in-progress-title">In Progress</h2>
            @for (task of doingTasks; track task.id) {   
                <app-task-card [task]="task" (deleteTask)="handleDeleteTask($event)"></app-task-card>
            }  
        </section>
        <section class="kanban-column">
            <h2 class="done-title">Done</h2>
            @for (task of doneTasks; track task.id) { 
                <app-task-card [task]="task" (deleteTask)="handleDeleteTask($event)"></app-task-card>
            }
        </section>
    </div>
</div>

