<div class="filter-bar-container">
    <div class="filter-bar">
        <select id="filterDueDate"
            [value]="taskListFilterService.selectedFilterTaskList"
            (change)="onFilterTaskList($event)">
                <option value="creationDate">Creation Date</option>
                <option value="dueDateAsc">Due date ascending</option>
        </select>
    </div>
</div>

<div class="kanban-board">
    <section class="kanban-column">
        <h2>To Do</h2>
        @for (task of todoTasks; track task.id) {
            <app-task-card [task]="task" (deleteTask)="handleDeleteTask($event)"></app-task-card>
        }
    </section>
    <section class="kanban-column">
        <h2>In Progress</h2>
        @for (task of doingTasks; track task.id) {   
             <app-task-card [task]="task" (deleteTask)="handleDeleteTask($event)"></app-task-card>
        }  
    </section>
    <section class="kanban-column">
        <h2>Done</h2>
        @for (task of doneTasks; track task.id) { 
            <app-task-card [task]="task" (deleteTask)="handleDeleteTask($event)"></app-task-card>
        }
    </section>
</div>
