<div class="modal-overlay">
    <div class="add-task-modal">
        <div class="modal-header">
            <div class="warning-container">
                <p class="modal-header-warning">ACTION REQUIRED</p>
                <button class="close-button" (click)="onCancel()">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="header-text">
                <h2 class="add-task-modal-title">Create New Task</h2>
                <p>Fill in the details below to organize your next big goal.</p>
            </div>
        </div>

        <form [formGroup]="taskForm" class="form-container">
            <div class="form-group">
                <label for="task-title">Task Title</label>
                <input type="text" 
                    id="task-title" 
                    formControlName="title" 
                    placeholder="e.g. Design System Implementation"
                    [ngClass]="{ 'input-error': taskForm.get('title')?.invalid && taskForm.get('title')?.touched }">
                @if (taskForm.get('title')?.invalid && taskForm.get('title')?.touched) {
                    <p class="form-error-text">
                        <i class="fa-solid fa-circle-exclamation"></i> Title is required.
                    </p>
                }
                @if (taskForm.get('title')?.hasError('whitespace') && taskForm.get('title')?.touched) {
                    <p class="form-error-text">
                    <i class="fa-solid fa-circle-exclamation"></i> Title cannot contain only spaces. Please enter a valid name.
                    </p>
                }
            </div>

            <div class="form-group">
                <label for="task-description">Description</label>
                <textarea id="task-description" formControlName="description" placeholder="Describe the steps or requirements for this task..." rows="4"></textarea>
            </div>

            <div class="form-dropdown-container">
                <div class="form-group half-width">
                    <label for="task-category">Category</label>
                    <select id="task-category" 
                            formControlName="category"
                            [ngClass]="{ 'input-error': taskForm.get('category')?.invalid && taskForm.get('category')?.touched }">
                        <option value="" disabled selected>Choose a category</option>
                    </select>
                    @if (taskForm.get('category')?.invalid && taskForm.get('category')?.touched) {
                        <p class="form-error-text">
                            <i class="fa-solid fa-circle-exclamation"></i> Category is required.
                        </p>
                    }
                </div>

                <div class="form-group half-width">
                    <label for="task-status">Status</label>
                    <select id="task-status" 
                            formControlName="status"
                            [ngClass]="{ 'input-error': taskForm.get('status')?.invalid && taskForm.get('status')?.touched }">
                        <option value="" disabled selected>Choose a status</option>
                        <option value="todo">To Do</option>
                        <option value="in-progress">In Progress</option>
                        <option value="completed">Completed</option>
                    </select>
                    @if (taskForm.get('status')?.invalid && taskForm.get('status')?.touched) {
                        <p class="form-error-text">
                            <i class="fa-solid fa-circle-exclamation"></i> Status is required.
                        </p>
                    }
                </div>
            </div>

            <div class="task-due-date form-group">
                <label for="due-date">Due Date</label>
                <div class="date-input-container">
                    <input type="date" 
                            id="due-date" 
                            formControlName="dueDate"
                            [ngClass]="{ 'input-error': taskForm.get('dueDate')?.invalid && taskForm.get('dueDate')?.touched }">
                </div>
                @if (taskForm.get('dueDate')?.invalid && taskForm.get('dueDate')?.touched) {
                    <p class="form-error-text">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        Due date is required.
                    </p>
                }
            </div>

            <div class="modal-actions">
                <button class="btn-create">
                    <i class="fa-solid fa-circle-plus"></i>
                    Create Task
                </button>
                <button class="btn-cancel" (click)="onCancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>