.sidebar {
  height: 100%;
  background-color: var(--cor-fundo-sidebar);
  padding: 10px;
  border: 1px solid var(--cor-borda);
}

.sidebar-nav-title, .task-categories-title {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: var(--fonte-titulo);
  color: var(--cor-roxo-claro);
  margin-bottom: 10px;
}

.navigation-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.sidebar-link {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  background-color: transparent;
  border: none;
  color: var(--cor-texto-principal);
  font-size: 1.1rem;
  font-family: var(--fonte-texto);
  cursor: pointer;
  padding: 10px;
}

.sidebar-link:hover {
  background-color: var(--cor-fundo-pagina);
  border: 1px solid var(--cor-azul-ceu);
  border-radius: 9px;
  transform: translateY(-5px);
  transition: 0.3s;
  color: var(--cor-azul-ceu);
}


.sidebar-link.active {
    background-color: var(--cor-fundo-card);
    color: var(--cor-azul-ceu);
    border: 1px solid var(--cor-azul-ceu);
    border-radius: 9px;
    border-left: 3px solid var(--cor-azul-ceu);
}

@media (max-width: 1024px) {
  
  .sidebar {
    height: auto;
    width: 100%;           
    position: fixed;       
    bottom: 0;             
    left: 0;
    z-index: 1000;         
    padding: 10px 0;       
  }

  .navigation-links { 
    flex-direction: row; 
    justify-content: space-around; 
    margin: 0; 
  }

  .sidebar-nav-title { 
    display: none; 
  }

  .sidebar-link { 
    flex-direction: column; 
    font-size: 0.9rem; 
    border: none;          
  }

  .sidebar-link.active {
    border-left: none;
    border-bottom: 3px solid var(--cor-azul-ceu);
    background-color: transparent;
  }
}