<aside class="sidebar">
    <section class="navigation-links">
        <p class="sidebar-nav-title">NAVIGATION</p>
        
        <a routerLink="/dashboard" routerLinkActive="active" class="sidebar-link">
            <i class="fa-solid fa-list"></i>
            Dashboard
        </a>

        <a routerLink="/task-list" routerLinkActive="active" class="sidebar-link">
            <i class="fa-solid fa-clipboard-list"></i>
            All Tasks
        </a>

        <a routerLink="/completed" routerLinkActive="active" class="sidebar-link">
            <i class="fa-solid fa-check"></i>
            Completed
        </a>

    </section>
    
    <section class="task-categories">
        <p class="task-categories-title">TASK CATEGORIES</p>
    </section>

</aside>

