/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Outfit:wght@500;700&display=swap');

:root {
    /* Fundos */
    --cor-fundo-pagina: #1b182c;
    --cor-fundo-sidebar: #211e33;
    --cor-fundo-card: #211e35;
    --cor-borda: #454158;
    
    /* Cores de Destaque */
    --cor-rosa: #ff95d6;
    --cor-azul-ceu: #8be9fd;
    --cor-banana: #ffe97d;
    --cor-roxo-claro: #bd93f9;
    
    /* Texto */
    --cor-texto-principal: #e0def4;
    
    /* Cores de Status */
    --cor-status-todo: #ff5555;
    --cor-status-doing: #ffcc00;
    --cor-status-done: #00ff88;
    --cor-verde: #50fa7b;
    --cor-vermelho: #ff5555;

    /* Cores de Categoria */
    --cor-cat-personal: #00e5ff;
    --cor-cat-study: #b088ff;
    --cor-cat-work: #ffcc00;
    --cor-cat-urgent: #ff4d4f;
    
    /* Fontes */
    --fonte-titulo: 'Outfit', sans-serif;
    --fonte-texto: 'Inter', sans-serif;
}

body {
    background-color: var(--cor-fundo-pagina);
    color: var(--cor-texto-principal);
    font-family: var(--fonte-texto);
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

h1 {
    font-family: var(--fonte-titulo);
    color: var(--cor-banana);
}

option {
    background-color: var(--cor-fundo-card);
    color: var(--cor-texto-principal);
    font-family: var(--fonte-texto);
    padding: 10px;
}