<div class="dashboard-container">
  
  <div class="kpi-card-container">
      @for (kpi of kpiList; track kpi.title) {
        <app-kpi-card [kpi]="kpi"></app-kpi-card>
      }
</div>

  <div class="due-today-section">
    <div class="section-header">
      <i class="fa-regular fa-clock"></i>
      <h2>Due Today</h2>
      <span class="badge">{{ dueTodayTasks.length }} Tasks</span>
    </div>

    <div class="tasks-list">
      @for (task of dueTodayTasks; track task.id) {
        <app-dashboard-task-item [task]="task"></app-dashboard-task-item>
      } @empty {
        <div class="empty-state">
          <p>Relax! No tasks due for today. 🎉</p>
        </div>
      }
    </div>
  </div>

</div>